**/.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
Team_Directories/rho/Module_Demos/Demo_1/.RDataTmp
Team_Directories/rho/Module_Demos/Demo_1/.RDataTmp1
Team_Directories/sigma/README_template.md
Team_Directories/delta/Module_Projects/Project_2/Project_2_TS.Rmd
